// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//variables
$blue: #77BED2;
$red: #F2583E;
$white: #F7F3E8;
$grey: #D5E1DD;
$dark_grey: #747E80;
$black_blue: #2B3E42;


#page {
	width: 100%;
}

.cand_name {
	color: #ffffff;
	font-size: 32px;
}

#above_the_fold {
	width: 100%;



	.dsplash_image {
		width: 50%;
		height: 100%;
		float: left;
		background-size: fill;
		

		img {
			width: 100%;
			height: 100%;
			overflow: hide;
			display: block;

		}
	}

	.duser_graph{
		width: 50%;
		max-height: 431px;
		float: right;
		background-color: #77BED2;

		img {
			width: 100%;
			max-height: 431px;
			overflow: hide;
			width: 90%;
			height: 90%;
			padding: 2.75%;
			padding-bottom: 2.75%;
			margin: 0 auto;
			
		}
	}

	.rsplash_image {
		width: 50%;
		height: 100%;
		float: right;
		background-size: fill;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: 100%;
			margin: 0px;
			display: block;
		}
	}

	.ruser_graph{
		width: 50%;
		height: 100%;
		float: left;
		background-color: #F2583E;
		margin-bottom: 20px;

		img {
			width: 100%;
			overflow: hide;
			width: 90%;
			height: 90%;
			padding: 18px;
			margin: 0 auto;
			display: block;

		}
	}
}

.dparty {
	
}

.rparty {
	
}

.clear {

}

.party {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 13px;
	color: #2B3E42;
	

	h1 {
		margin-bottom: 10px;
		font-weight: 300;
	}

	.candidate_img {
		width: 210px;
		padding: 5px;
		background-color: #F7F3E8;
		border-radius: 50%;
	}

	.dcandidate {
		width: 30%;
		padding: 20px;
		display: inline-block;
		background-color: $blue;
		border-radius: 10%;
		margin: 5px;
		color: #ffffff;

		h1 {
			font-weight: 500;
			text-decoration: none;
		}

		p {
			font-weight: 500;
		}
	}

	.candidate {
		width: 30%;
		padding: 20px;
		margin: 5px;
		display: inline-block;
		background-color: $red;
		border-radius: 10%;
		color: #ffffff;
		font-weight: 300;
		h1 {
			font-weight: 500;
			text-decoration: none;
		}
		
		p {
			font-weight: 300;
		}

	}
}

.graph {
	width: 400px;
	margin: 0 auto;
}

.graph rect {
	fill: stealblue;
}

.rect {
	fill: blue;
}

.graph text {
	font: 10px;
	text-anchor: middle;
}

