// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
	width: 100%;
}

.party {
	width: 90%;
	margin: 0 auto;
	text-align: center;

	h1 {
		text-decoration: underline;
	}

	.candidate {
		width: 200px;
		padding: 10px;
		display: inline-block;
		// text-align: left;
	}
}