// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #77BED2;
$red: #F2583E;
$white: #F7F3E8;
$grey: #D5E1DD;
$dark_grey: #747E80;
$black_blue: #2B3E42;


.transaction {
	width: 80%;
	margin: 0 auto;
}

.candidate_dropdown {
	font-size: 15px;
	padding: 3px;
	border: 1px solid #ffffff;
	color: $black_blue;
}