// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up {
	width: 33%;
	margin-top: 20vh;
	margin-right: auto;
	margin-left: auto;

	label {
		font-size: 20px;
		font-weight: 300;
		
	}
}